<!-- <div align="center">
    <footer>
        <p class="titlecred">Desenvolvido por Thiago V. Lemes @ 2021<br>
        <a class="email" chref="mailto:contatothiagolemes@gmail.com">e-mail: contatothiagolemes@gmail.com</a></p>
      </footer>
</div> -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <footer> -->
      <p class="titlecred" style="color: white; margin: 0 auto;">Desenvolvido por Thiago V. Lemes @ 2021<br>
      <a class="email" chref="mailto:contatothiagolemes@gmail.com">e-mail: contatothiagolemes@gmail.com</a></p>
    <!-- </footer> -->
  </div>
</nav>