{% extends "model-page.html" %}
{% load static%}

{% block content %}
<div style="margin-bottom: 80px;">
<div class="container-fluid" align="center">
    <div class="adicionar col-5">
        <h3>Cadastro de Evento</h3>
        <form action="/salve" method="POST">{% csrf_token %}
            <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Título</span>
                <input type="text" class="form-control" placeholder="Digite o Título" aria-label="Username"
                    aria-describedby="basic-addon1" name="titulo" value="{{ evento.titulo }}">
            </div>

            <div class="input-group">
                <span class="input-group-text">Descrição</span>
                <textarea class="form-control" rows="5" aria-label="With textarea" style="resize: none;" name="descricao">{{ evento.descricao }}</textarea>
            </div>

            <br>

            <div class="input-group">
                <span class="input-group-text">Data</span>
                <input type="date" class="form-control" name="data_evento" value="{{ evento.get_data_evento_input }}">
            </div>

            <br>
            
            <div class="input-group">
                <span class="input-group-text">Hora</span>
                <input type="time" class="form-control" name="hora" value="{{ evento.get_data_evento_input_hora }}">
            </div>
            
            <br>

            <div class="input-group">
            <select class="form-select" aria-label="Default select example" name="status">
                <option selected value="P">Pendente</option>
                <option value="C">Concluído</option>
              </select>
            </div>
            <br>

            <div>
                <button type="submit" class="btn btn-primary" style="width: 100px;">Salvar</button>
                <a href="/home/">
                    <button type="button" class="btn btn-secondary" style="width: 100px;">Cancelar</button>
                </a>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}